.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 150px;
  display: inline-block;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}
