<h1>Pokedex</h1>

<h2>Pokemons Disponibles</h2>
<div class="pokemon-container">
  @for (p of pokemons; track p.id) {
    @if (!p.liked) {
      <app-pokemon [pokemon]="p" (pokemonActualitzat)="actualitzarPokemon($event)"></app-pokemon>
    }
  }
</div>

<hr>

<h2>Pokemons amb Like</h2>
<div class="pokemon-container">
  @for (p of pokemons; track p.id) {
    @if (p.liked) {
      <app-pokemon [pokemon]="p" (pokemonActualitzat)="actualitzarPokemon($event)"></app-pokemon>
    }
  }

  @if (sensePokemonsAmbLike) {
    <p>No hi ha cap Pokémon amb like.</p>
  }
</div>
